@page "/Tickets/edit/{Id:guid}"
@attribute [Authorize]

@inject HttpClient Http
@inject HttpClient httpClient

@inject NavigationManager Navigation
<h1>Edit Ticket</h1>

<EditForm Model="Ticket" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="shadow-sm p-3 mt-3 ml-3 mr-3 mb-3 bg-white rounded-lg mx-auto" style="width:75%">

        <div class="card-body mx-auto" style="width:72%; min-width:55%">

            <h3 class="card-title">Edit ticket details</h3>
            <h6 class="card-subtitle mb-2 text-muted">Modify values of a ticket</h6>
            <br />
            <div class="form-group">
                <label class="control-label">Ticket Name</label>
                <InputText @bind-Value="Ticket.Name" class="form-control" />
                <ValidationMessage For="@(() => Ticket.Name)" />
            </div>

            <div class="form-group">
                <label class="control-label">Ticket Description</label>
                <InputText @bind-Value="Ticket.Description" class="form-control" />
                <ValidationMessage For="@(() => Ticket.Description)" />
            </div>

            <div class="form-group">
                <label for="statusInput">Status</label>
                <InputSelect class="form-control" id="statusInput" @bind-Value="Ticket.TicketStatus">

                    @{
                        <option disabled value="Select">Select status</option>
                        <option value="Open">Open</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Testing">Testing</option>
                        <option value="Closed">Closed</option>


                        if (Ticket.TicketStatus == "Closed")
                        {
                            Ticket.ClosedDate = DateTime.Today;
                        }
                        else
                        {
                            Ticket.ClosedDate = null;
                        }

                    }
                </InputSelect>
            </div>

            <div class="form-group">
                <label class="control-label">Created on</label>
                <InputDate @bind-Value="Ticket.TicketCreatedDate" class="form-control" />
                <ValidationMessage For="@(() => Ticket.TicketCreatedDate)" />
            </div>

            <a class="btn btn-secondary ml-2" href="/Tickets">Back</a>

            <button type="submit" class="btn btn-primary">
                Update ticket
            </button>
        </div>
    </div>

</EditForm>


@code {
    [Parameter]
    public Guid Id { get; set; }

    private Ticket Ticket { get; set; } = new Ticket();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Ticket = await Http.GetFromJsonAsync<Ticket>($"/api/Tickets/{Id}");
        }

        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        catch (Exception e)
        {
            Console.WriteLine("Ticket index page exception caught: " + e);
        }
    }

    private async void HandleValidSubmit()
    {
        try
        {
            var response = await Http.PutAsJsonAsync($"/api/Tickets/{Ticket.Id}", Ticket);
            response.EnsureSuccessStatusCode();
            Navigation.NavigateTo("/tickets");
        }

        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        catch (Exception e)
        {
            Console.WriteLine("Ticket index page exception caught: " + e);
        }
    }
}
