@page "/Companies/details/{Id:guid}"

@attribute [Authorize]

@inject HttpClient Http
@inject HttpClient httpClient
@inject NavigationManager Navigation

<div class="shadow-sm p-3 mt-3 ml-3 mr-3 mb-3 bg-white rounded-lg mx-auto" style="width:45%">
    <div class="card-body mx-auto" style="width:67%; min-width:55%">
        <h3 class="card-title">Details for @Company.companyName</h3>
        <h6 class="card-subtitle mb-2 text-muted">View further details on selected company</h6>
        <br />

        <ul class="list-group">

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h5 class="mb-1">
                    Company Name
                </h5>

                <h5 class="mb-1">
                    @Company.companyName
                </h5>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h5 class="mb-1">
                    Company Description <br /><br /> @Company.companyDescription
                </h5>
            </li>

        </ul>

        <br />
        <a class="btn btn-secondary ml-2" href="/Companies">Back</a>
    </div>
</div>


@code {
    [Parameter]
    public Guid Id { get; set; }
    private List<Company> Companies = new List<Company>();


    private Company Company { get; set; } = new Company();





    protected override async Task OnInitializedAsync()
    {
        try
        {
            Company = await Http.GetFromJsonAsync<Company>($"/api/Companies/{Id}");
            Companies = await Http.GetFromJsonAsync<List<Company>>("/api/Companies");



        }

        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        catch (Exception e)
        {
            Console.WriteLine("Company index page exception caught: " + e);
        }

    }



    //EVERY PROJECT WITH PROJECT.COMPANYID == WITH SAME ID PRINT NAMES
    //FOR EACH PROJECT.COMPANYID == Id
    // PRINT PROJECT.NAME
}
